<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-二手市场-欢迎来逛~</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">前台 > 查看商品</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="FrontProduct.html" style="border-right: darkcyan solid 5px"><strong>首页-来逛逛吧~</strong></a>
        <a href="FrontChatRoom.html"><strong>聊天室</strong></a>
        <a href="FrontDeal.html"><strong>我的订单</strong></a>
        <a href="FrontHome.html"><strong>查看修改个人信息</strong></a>
        <a href="FrontSelfProduct.html"><strong>我的商品</strong></a>
    </div>
    <div class="right">

    </div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
        },
        mounted() {
            let LoginHttp;
            if(window.XMLHttpRequest){
                LoginHttp=new XMLHttpRequest();

            }else{
                LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
            }
            LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
            LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

            let requestBody ="&method=loadAccount";
            LoginHttp.send(requestBody);
            LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                if (event.target.readyState === 4 && event.target.status === 200) {

                    const storedUser=JSON.parse(event.target.responseText);

                    if (storedUser) {
                        this.currentUser = storedUser.data;
                        console.log("当前用户：", this.currentUser);

                    } else {

                        console.log("未找到用户数据");
                    }


                }
            }
        },
        methods:{
            logout(){

            }
        }
    });
</script>
</body>
</html>