<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的商品</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">前台 > 我的商品</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="FrontProduct.html"><strong>首页-来逛逛吧~</strong></a>
        <a href="FrontChatRoom.html"><strong>聊天室</strong></a>
        <a href="FrontDeal.html"><strong>我的订单</strong></a>
        <a href="FrontHome.html"><strong>查看修改个人信息</strong></a>
        <a href="FrontSelfProduct.html" style="border-right: darkcyan solid 5px"><strong>我的商品</strong></a>
    </div>


    <div class="right">

        <div class="LeftList" style="display: inline-block;width:70%;height: 100%">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>商品名称</strong></td>
                    <td><strong>库存数量</strong></td>
                    <td><strong>商品分类</strong></td>
                    <td><strong>商品状态</strong></td>
                    <td><strong>价格</strong></td>
                    <td><strong>总评分</strong></td>
                    <td><strong>流量</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!ProductTable" class="NONE">
                    <td><strong>无数据!</strong></td>
                </tr>
                <tr v-for="product in ProductTable" :key="product.id" @click="FocusOnProduct(product)">
                    <td>{{ product?.name||'无名称数据'}}</td>
                    <td>{{ product?.stock || '无库存数据' }}</td>
                    <td>{{ product?.category || '无分类数据' }}</td>
                    <td>{{ product?.publishStatus || '无商品状态数据' }}</td>
                    <td>{{ product?.price ?? '无价格数据' }}</td>
                    <td>{{ product?.score ?? '无总评分数据' }}</td>
                    <td>{{ product?.popularity ?? '无流量数据' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

<!--        <div class="RightList">-->
<!--            <table>-->
<!--                <thead style="display:block;width:100%;height: 10%">-->
<!--                <tr style="background-color: cadetblue">-->
<!--                    <td><strong>{{ FocusingStudent ? FocusingStudent+"的选课列表:" : '尚未选择学生...' }}</strong></td>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr v-show="!CoursesOfStudentTable" class="NONE">-->
<!--                    <td color="black"><strong>{{ FocusingStudent ? "没有选课" : '无选课数据！' }}</strong></td>-->
<!--                </tr>-->
<!--                <tr v-for="course in CoursesOfStudentTable" :key="course.id">-->
<!--                    <td>{{ course?.courseName||'未知课程' }}</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

    </div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            ProductTable:null,
            DealTable:null,
            FocusProduct:null,
            FocusDeal:null,
        },
        mounted() {
            this.LoadAccount();
            //this.ProductTable=[{"id":1, "name":'好人卡', "description":'这是好人卡，为小丑准备的', "price":55.5, "stock":9, "category":'文具', "avatar":'null', "publishTime":'2025-04-16T09:02', "publishStatus":'已发布', "userId":1, "score":4, "popularity":4}];
            },
        methods:{

            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            console.log("用户：", this.currentUser);
                            this.LoadProduct();
                        } else {

                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            LoadProduct(){
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Front/SelfProduct");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                let requestBody = "method=loadProduct"
                    + "&userId=" + encodeURIComponent(this.currentUser.id);

                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        let result = JSON.parse(event.target.responseText);
                        if (result.code === "200") {
                            this.ProductTable = result.data;
                            console.log(this.ProductTable);
                        } else {
                            alert(result.msg);
                        }
                    }
                }
            },
            FocusOnProduct(somebody){

            },

            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            }
        }
    });
</script>
</body>
</html>