<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>个人信息</title>
  <script src="../../js/vue.js"></script>
  <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
  <div class="header">

    <a href="#" class="ICON">
      <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
      <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
    </a>

    <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">前台 > 个人信息</h2>

    <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

  </div>

  <div class="left">
    <a href="FrontProduct.html"><strong>首页-来逛逛吧~</strong></a>
    <a href="FrontChatRoom.html"><strong>聊天室</strong></a>
    <a href="FrontDeal.html"><strong>我的订单</strong></a>
    <a href="FrontHome.html" style="border-right: darkcyan solid 5px"><strong>查看修改个人信息</strong></a>
    <a href="FrontSelfProduct.html"><strong>我的商品</strong></a>


  </div>
  <div class="right">
    <strong>欢迎进入前台，{{ currentUser ? currentUser.username : '您尚未登录' }}！</strong>
    <strong style="color:red" v-if="currentUser&&currentUser.role!=='USER'">你不是用户!你没有访问网站的权限</strong>
    <div style="margin-top:10px;margin-bottom: 10px">
      <p>账号: {{ currentUser?.username || '无账号' }}</p>
      <p>姓名:{{currentUser?.name||'无姓名'}}</p>
      <p>电话:{{currentUser?.phone||'无电话'}}</p>
      <p>邮箱:{{currentUser?.email||'无邮箱'}}</p>
      <p>ID:{{currentUser?.id||'无ID'}}</p>
      <p>账号状态:{{currentUser?.status||'无账号状态'}}</p>
      <p>账号流量: {{ currentUser?.popularity ?? '无流量数据' }}</p>
      <p>账号信誉: {{ currentUser?.popularity ?? '无信誉数据' }}</p>
      <p>角色:{{currentUser?.role||'无角色'}}</p>
      <p></p>
    </div>
    <strong>修改个人信息</strong><br>
    <button v-show="currentUser&&currentUser.role==='USER'" class="updateButton" @click="ShowForm"><strong>修改个人信息</strong></button>
    <button v-show="!currentUser||currentUser.role!=='USER'" class="noneUpdateButton">修改个人信息</button>
  </div>

  <div v-show="Form" class="HoldForm">
    <div class="form">
      <h2 style="display:block;width:100%;text-align:center;padding:10px 0;">修改个人信息</h2>

      <div style="height: 90px">
        <strong style="display: block">用户头像更改</strong>
        <div style="display: inline-block;width: 30%">
          <img style="display: inline-block; width: 100px;height: 60px" :src="(currentUser&&currentUser.avatar!=null&&currentUser.avatar!=='')? '../../../file/'+currentUser.avatar : '../../asset/img/Avatar.png' " alt="">

        </div>
        <div style="display: inline-block;width: 50%">
        <input type="file" @change="prepareUpload" ref="fileInput" accept="image/*">
        <button class="updateButton" @click="uploadFile">上传图片</button>
        </div>
      </div>
      <div class="inputText" style="background-color: rgba(173,255,47,0.4)">
        <strong style="margin:0 8px">旧密码:</strong><input type="password" placeholder="请输入旧密码以校验身份" v-model="OriginalPassword">
      </div>
      <div class="inputText">
        <strong style="margin:0 8px">新登录密码:</strong><input type="password" placeholder="请输入新密码(选填)" v-model="NewPassword">
      </div>
      <div class="inputText">
        <strong style="margin:0 8px">新支付密码:</strong><input type="password" placeholder="请输入新支付密码(选填)" v-model="PayPassword">
      </div>
      <div class="inputText">
        <strong style="margin:0 8px">新昵称:</strong><input type="text" placeholder="请输入新昵称(必填)" v-model="Name">
      </div>
      <div class="inputText">
        <strong style="margin:0 8px">新邮箱:</strong><input type="text" placeholder="请输入新邮箱(必填)" v-model="Email">
      </div>
      <div class="inputText">
        <strong style="margin:0 8px">新电话:</strong><input type="text" placeholder="请输入新电话(必填)" v-model="Phone">
      </div>
      <div>
        <button @click="Cancel" class="formButton" style="background-color:darkorange;color: aliceblue">取消</button>
      </div>
      <div>
        <button @click="Save" class="formButton" style="background-color: darkgreen;color:aliceblue">确认</button>
      </div>
    </div>
  </div>

</div>

<script>
  new Vue({
    el: '#app',
    data: {
      currentUser: null,
      Form:false,
      Name:"",
      OriginalPassword:"",
      NewPassword:"",
      Phone:"",
      Email:"",
      Avatar:"",
      fileData:null,
      PayPassword:""
    },
    mounted() {
      this.LoadAccount();
    },
    methods:{

      // 准备图片上传
      prepareUpload(event) {
        this.fileData = event.target.files[0];
        this.Avatar = this.fileData.name;
      },
      // 图片上传
      uploadFile() {
        let LoadHttp;
        if (window.XMLHttpRequest) {
          LoadHttp = new XMLHttpRequest();
        } else {
          LoadHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        LoadHttp.open("POST", "http://localhost:8080/QGfinalDemo_war/File");
        let formData = new FormData();
        formData.append("method", "upload");
        formData.append("file", this.fileData);
        LoadHttp.send(formData);
        LoadHttp.onreadystatechange = (event) => {
          if (event.target.readyState === 4 && event.target.status === 200) {
            const message = event.target.responseText.split(":", 2);
            const type = message[0];
            const content = message[1];
            if(type!=="error"){
              this.Avatar=event.target.responseText;
              this.UpdateAvatar();
            }

            alert(event.target.responseText);
          }
        };
      },
      UpdateAvatar(){
        let requestBody;
        requestBody = "id=" + encodeURIComponent(this.currentUser.id)
                + "&avatar=" + encodeURIComponent(this.Avatar)
                + "&role=" + encodeURIComponent(this.currentUser.role)
                + "&method=UpdateAvatar";
        let UpdateHttp;
        if(window.XMLHttpRequest){
          UpdateHttp=new XMLHttpRequest();
        }else{
          UpdateHttp =new ActiveXObject("Microsoft.XMLHTTP");
        }
        UpdateHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
        UpdateHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        UpdateHttp.send(requestBody);
        UpdateHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
          if (event.target.readyState === 4 && event.target.status === 200) {
            let result = JSON.parse(event.target.responseText);
            if(result.code==="200")
            this.currentUser.avatar=this.Avatar;
          }
        }
      },


      LoadAccount(){
        let LoginHttp;
        if(window.XMLHttpRequest){
          LoginHttp=new XMLHttpRequest();

        }else{
          LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
        }
        LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
        LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

        let requestBody ="&method=loadAccount";
        LoginHttp.send(requestBody);
        LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
          if (event.target.readyState === 4 && event.target.status === 200) {

            const storedUser=JSON.parse(event.target.responseText);

            if (storedUser) {
              this.currentUser = storedUser.data;
              console.log("当前用户：", this.currentUser);
              this.Name=this.currentUser?.name||"";
              this.Phone=this.currentUser?.phone||"";
              this.Email=this.currentUser?.email||"";
              this.Avatar=this.currentUser?.avatar||"";
              this.OriginalPassword="";
              this.NewPassword="";
              this.PayPassword="";
            } else {

              console.log("未找到用户数据");
            }


          }
        }
      },
      ShowForm(){
        this.Form=!this.Form;
      },
      logout(){
        let LoginHttp;
        if(window.XMLHttpRequest){
          LoginHttp=new XMLHttpRequest();

        }else{
          LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
        }
        LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
        LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

        let requestBody ="&method=logout";
        LoginHttp.send(requestBody);
        window.location.href = "../login.html";
      },
      Cancel(){
        this.ShowForm();
        this.Name=this.currentUser?.name||"";
        this.Phone=this.currentUser?.phone||"";
        this.Email=this.currentUser?.email||"";
        this.Avatar=this.currentUser?.avatar||"";
        this.OriginalPassword="";
        this.NewPassword="";
        this.PayPassword="";
      },
      Save(){
        this.OriginalPassword=this.OriginalPassword.trim();
        this.NewPassword=this.NewPassword.trim();
        this.Name=this.Name.trim();
        this.Email=this.Email.trim();
        this.Phone=this.Phone.trim();
        this.PayPassword=this.PayPassword.trim();
        const nameRegex = /^[^\s]{2,10}$/;
        const passwordRegex = /^[a-zA-Z0-9_]{4,20}$/;
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        const phoneRegex = /^(1[3-9]\d{9}|(0\d{2,3})?\d{7,8})$/;
        let havePassword=false;
        if(this.currentUser==null||this.OriginalPassword!==this.currentUser.password){
          alert("请输入正确的原密码以校验身份");
          this.Cancel();
        }else if(this.Name===""||this.Email===""||this.Phone===""||this.Name==null||this.Email==null||this.Phone==null){
          alert("请填入必填信息");
          this.Cancel();
        }else{

          if (!nameRegex.test(this.Name)) {
            alert("新昵称格式不正确！必须是2到10个任意连续字符");
            this.Cancel();
          }else
          if (!emailRegex.test(this.Email)) {
            alert("新邮箱格式不正确");
            this.Cancel();
          }
          else
          if (!phoneRegex.test(this.Phone)) {
            alert("新电话格式不正确");
            this.Cancel();
          }else{
            if(this.NewPassword!=null&&this.NewPassword!==""){
              if (!passwordRegex.test(this.NewPassword)) {
                alert("新密码格式不正确！必须是4到20个字符，包含字母、数字或下划线。");
                this.Cancel();
                return;
              }else havePassword=true;
            }
            let requestBody;
            //更新逻辑
            if(this.PayPassword==null||this.PayPassword===""){
              this.PayPassword=this.currentUser.payPassword;
            }else if (!passwordRegex.test(this.PayPassword)) {
              alert("新支付密码格式不正确");
              this.Cancel();
            }
            if(havePassword===true){
              requestBody = "phone=" + encodeURIComponent(this.Phone)
                      + "&password=" + encodeURIComponent(this.NewPassword)
                      + "&email=" + encodeURIComponent(this.Email)
                      + "&name=" + encodeURIComponent(this.Name)
                      + "&role=" + encodeURIComponent(this.currentUser.role)
                      + "&username=" + encodeURIComponent(this.currentUser.username)
                      + "&payPassword=" + encodeURIComponent(this.PayPassword)
                      + "&method=updateAccount";
            }else{
              requestBody = "phone=" + encodeURIComponent(this.Phone)
                      + "&password=" + encodeURIComponent(this.OriginalPassword)
                      + "&email=" + encodeURIComponent(this.Email)
                      + "&role=" + encodeURIComponent(this.currentUser.role)
                      + "&username=" + encodeURIComponent(this.currentUser.username)
                      + "&avatar=" + encodeURIComponent(this.Avatar)
                      + "&name=" + encodeURIComponent(this.Name)
                      + "&payPassword=" + encodeURIComponent(this.PayPassword)
                      + "&method=updateAccount";
            }


            let LoginHttp;
            if(window.XMLHttpRequest){
              LoginHttp=new XMLHttpRequest();

            }else{
              LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
            }
            LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
            LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

            //根据havePassword的值设置
            LoginHttp.send(requestBody);
            LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
              if (event.target.readyState === 4 && event.target.status === 200) {


                this.currentUser= JSON.parse(event.target.responseText);
                console.log(this.currentUser);
                if(this.currentUser.code==="200"){
                  alert(this.currentUser.msg);
                  this.currentUser=this.currentUser.data;
                  this.ShowForm();
                  this.OriginalPassword="";
                  this.NewPassword="";
                  this.PayPassword="";
                  this.logout();
                }else{
                  alert(this.currentUser.msg);
                  this.Cancel();
                }


              }
            }



          }
        }



      },
    }
  });
</script>
</body>
</html>