<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的商品</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">前台 > 我的商品</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="FrontProduct.html"><strong>首页-来逛逛吧~</strong></a>
        <a href="FrontChatRoom.html"><strong>聊天室</strong></a>
        <a href="FrontDeal.html"><strong>我的订单</strong></a>
        <a href="FrontHome.html"><strong>查看修改个人信息</strong></a>
        <a href="FrontSelfProduct.html" style="border-right: darkcyan solid 5px"><strong>我的商品</strong></a>
    </div>


    <div class="right">
        <div class="HeaderList"
             style="display: flex;justify-content: space-between;height:15%;width:98%;background-color: cornflowerblue">
            <div>
                <p style="font-size: 12px"><strong>正在焦点的商品</strong>：{{FocusProduct? FocusProduct.id:"无焦点"}}</p>
                <p style="font-size: 12px"><strong>正在焦点的订单</strong>：{{FocusDeal? FocusDeal.id:"无焦点"}}</p>
            </div>
            <div>
                <strong>查看和修改商品信息</strong><br>
                <button v-if="FocusProduct" class="updateButton" @click="ShowUpdateProductForm"><strong>商品信息</strong></button>
                <button v-else class="noneUpdateButton">商品信息</button>
            </div>
            <div>
                <strong>查看订单和评论</strong><br>
                <button v-if="FocusDeal" class="updateButton" @click="ShowUpdateDealForm"><strong>订单信息</strong></button>
                <button v-else class="noneUpdateButton">订单信息</button>
            </div>
            <div>
                <strong>上架一个商品</strong><br>
                <button v-if="currentUser&&currentUser.role==='USER'" class="updateButton" @click="ShowAddProductForm"><strong>新增商品</strong></button>
                <button v-else class="noneUpdateButton">新增商品</button>
            </div>

        </div>



        <div class="LeftList">
            <strong>自己的商品</strong>
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>ID</strong></td>
                    <td><strong>名称</strong></td>
                    <td><strong>数量</strong></td>
                    <td><strong>分类</strong></td>
                    <td><strong>状态</strong></td>
                    <td><strong>价格</strong></td>
                    <td><strong>总评分</strong></td>
                    <td><strong>流量</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!ProductTable" class="NONE">
                    <td><strong>无数据!</strong></td>
                </tr>
                <tr v-for="product in ProductTable" :key="product.id" @click="FocusOnProduct(product)">
                    <td>{{ product?.id||'无ID数据'}}</td>
                    <td>{{ product?.name||'无名称数据'}}</td>
                    <td>{{ product?.stock || '无库存数据' }}</td>
                    <td>{{ product?.category || '无分类数据' }}</td>
                    <td>{{ product?.publishStatus || '无商品状态数据' }}</td>
                    <td>{{ product?.price ?? '无价格数据' }}</td>
                    <td>{{ product?.score ?? '无总评分数据' }}</td>
                    <td>{{ product?.popularity ?? '无流量数据' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="RightList">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>订单ID</strong></td>
                    <td><strong>数量</strong></td>
                    <td><strong>状态</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!DealTable" class="NONE">
                    <td color="black"><strong>{{ FocusProduct ? "没有订单" : '无订单数据！' }}</strong></td>
                </tr>
                <tr v-for="deal in DealTable" :key="deal.id" @click="FocusOnDeal(deal)">
                    <td>{{ deal?.id||'无ID' }}</td>
                    <td>{{ deal?.productNum||'无数量' }}</td>
                    <td>{{ deal?.dealStatus||'无状态' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

<!--    查看订单和评论-->
    <div v-show="UpdateDealForm" class="HoldForm">
        <div class="form">
            <h2 style="display:block;width:100%;text-align:center;padding:10px 0;">查看订单和评论</h2>

            <strong>关于商品</strong>
            <p>名称:{{FocusProduct?.name||"无商品名称数据"}}</p>
            <p>介绍:{{FocusProduct?.description||"无商品介绍数据"}}</p>
            <p>商品状态:{{FocusProduct?.publishStatus||"无商品状态数据"}}</p>
            <strong>关于订单</strong>
            <p>付款方式:{{FocusDeal?.payMethod || "无付款方法数据"}}</p>
            <p>订单物流状态:{{FocusDeal?.dealStatus || "无订单状态数据"}}</p>
            <p>付款时间:{{FocusDeal?.dealTime || "无付款时间数据"}}</p>
            <p>购买者ID:{{FocusDeal?.userId || "无购买者ID数据"}}</p>
            <p>购买数量:{{FocusDeal?.productNum || "无购买数量数据"}}</p>
            <strong>对该订单的评论</strong>
            <p>评分:{{CommentTable?.score ?? '无评分数据'}}</p>
            <p>评论内容:{{CommentTable?.content || '无评论内容'}}</p>
            <p>评论时间:{{CommentTable?.commentTime || '无评论时间数据'}}</p>

            <div>
                <strong>更新物流状态</strong><br>
                <button v-if="UpdateDealForm&&(FocusDeal.dealStatus==='待发货'||FocusDeal.dealStatus==='在发货')" class="updateButton" @click="UpdateDealStatus"><strong>更新</strong></button>
                <button v-else class="noneUpdateButton">更新</button>
            </div>

            <div>
                <button @click="ShowUpdateDealForm" class="formButton" style="background-color: darkgreen;color:aliceblue">关闭</button>
            </div>
        </div>
    </div>

<!--    新增商品-->
    <div v-show="AddProductForm" class="HoldForm">
        <div class="form">
            <h2 style="display:block;width:100%;text-align:center;padding:10px 0;">新增商品</h2>
            <div class="inputText">
                <strong style="margin:0 8px">商品名称:</strong><input v-model="AddName" type="text" placeholder="请输入商品名称">
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">商品描述:</strong><textarea v-model="AddDescription" style="resize: none;" cols="30" rows="3"></textarea>
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">商品价格:</strong>
                <input type="number" v-model="AddPrice" min="1" max="1000" step="0.01" placeholder="请输入商品价格1~1000元" required>
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">商品库存:</strong>
                <input type="number" v-model="AddStock" min="1" max="100" step="1" placeholder="请输入商品库存1~100件" required>
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">商品分类:</strong>
                <select v-model="AddCategory">
                <option value="玩具">玩具</option>
                <option value="文具">文具</option>
                <option value="书籍">书籍</option>
                </select>
            </div>
            <div class="formSelect">
                <strong>是否延期发布商品:</strong>
                <label>
                    <input type="radio" value="YES" v-model="IsPublish">是
                    <input type="radio" value="NO" v-model="IsPublish">否
                </label>
            </div>
            <div class="inputText" v-if="IsPublish==='YES'">
                <strong style="margin:0 8px">拟定发布时间:</strong>
                <input type="datetime-local" v-model="AddDate" :min="minDate" >
            </div>
            <div>
                <button @click="CancelAddProductForm" class="formButton" style="background-color:darkorange;color: aliceblue">取消</button>
            </div>
            <div>
                <button @click="SaveAddProductForm" class="formButton" style="background-color: darkgreen;color:aliceblue">确认</button>
            </div>
        </div>
    </div>

<!--    更新商品-->

    <div v-show="UpdateProductForm" class="HoldForm">
        <div class="form">
            <h2 style="display:block;width:100%;text-align:center;padding:10px 0;">更新商品</h2>
            <div class="inputText">
                <strong>（未制作上传头像版块）</strong>
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">商品描述:</strong><textarea v-model="UpdateDescription" style="resize: none;" cols="30" rows="3"></textarea>
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">商品库存:</strong>
                <input type="number" v-model="UpdateStock" min="1" max="100" step="1" placeholder="请输入商品库存1~100件" required>
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">商品分类:</strong>
                <select v-model="UpdateCategory">
                    <option value="玩具">玩具</option>
                    <option value="文具">文具</option>
                    <option value="书籍">书籍</option>
                </select>
            </div>
            <div>
                <button @click="CancelUpdateProductForm" class="formButton" style="background-color:darkorange;color: aliceblue">取消</button>
            </div>
            <div>
                <button @click="SaveUpdateProductForm" class="formButton" style="background-color: darkgreen;color:aliceblue">确认</button>
            </div>
        </div>
    </div>



</div>

<script>
    new Vue({
        el: '#app',
        data: {

            //新增商品的data
            AddName:"",
            AddDescription:"",
            AddPrice:10,
            AddStock:10,
            AddCategory:"玩具",
            AddAvatar:"",
            IsPublish:"NO",
            AddDate:"",
            minDate:"",

            //更新商品的data
            UpdateDescription:"",
            // UpdatePrice:null,
            UpdateStock:null,
            UpdateCategory:null,
            UpdateAvatar:null,


            //常规
            currentUser: null,
            ProductTable:null,
            DealTable:null,
            FocusProduct:null,
            FocusDeal:null,
            CommentTable:null,
            UpdateProductForm:false,
            UpdateDealForm:false,
            AddProductForm:false
        },
        mounted() {
            this.LoadAccount();
            this.setMinDate();
            //this.ProductTable=[{"id":1, "name":'好人卡', "description":'这是好人卡，为小丑准备的', "price":55.5, "stock":9, "category":'文具', "avatar":'null', "publishTime":'2025-04-16T09:02', "publishStatus":'已发布', "userId":1, "score":4, "popularity":4}];
            },
        methods:{
            UpdateDealStatus(){
                let requestBody;

                requestBody = "id=" + encodeURIComponent(this.FocusDeal.id)
                    + "&method=UpdateDealStatus";


                let UpdateHttp;
                if(window.XMLHttpRequest){
                    UpdateHttp=new XMLHttpRequest();
                }else{
                    UpdateHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                UpdateHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Front/SelfProduct");
                UpdateHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                UpdateHttp.send(requestBody);
                UpdateHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        let result = JSON.parse(event.target.responseText);
                        if(result){
                            alert(result.msg);
                            this.ShowUpdateDealForm();
                            this.LoadProduct();
                            this.DealTable=null;
                            this.FocusProduct=null;
                            this.FocusDeal=null;
                            this.FocusComment=null;
                        }
                    }
                }
            },
            CancelAddProductForm(){
                this.ShowAddProductForm();
                this.AddName="";
                this.AddDescription="";
                this.AddPrice=10;
                this.AddStock=10;
                this.AddCategory="玩具";
                this.IsPublish="NO";
                this.AddDate="";
                this.AddAvatar="";
                this.minDate="";

            },
            SaveAddProductForm(){
                const descriptionRegex = /^[^\s]{1,100}$/;
                const nameRegex = /^[^\s]{2,10}$/;
                const priceRegex = /^(1000(\.00?)?|[1-9]?[0-9]?[0-9](\.[0-9]{1,2})?)$/;
                const stockRegex = /^(100|[1-9]?[0-9])$/;
                this.AddName=this.AddName.trim();
                this.AddDescription=this.AddDescription.trim();
                if(this.AddName==null||this.AddDescription==null||this.AddName===""||this.AddDescription===""){
                    alert("请填满必填信息");
                    this.CancelAddProductForm();
                    return;
                }else if(!nameRegex.test(this.AddName)||!descriptionRegex.test(this.AddDescription)||!priceRegex.test(this.AddPrice)||!stockRegex.test(this.AddStock)){
                    alert("填入信息不符合规范");
                    this.CancelAddProductForm();
                    return;
                }

                let requestBody;

                requestBody = "name=" + encodeURIComponent(this.AddName)
                    + "&description=" + encodeURIComponent(this.AddDescription)
                    + "&price=" + encodeURIComponent(this.AddPrice)
                    + "&username=" + encodeURIComponent(this.currentUser.username)
                    + "&stock=" + encodeURIComponent(this.AddStock)
                    + "&category=" + encodeURIComponent(this.AddCategory)
                    + "&isPublish=" + encodeURIComponent(this.IsPublish)
                    + "&publishTime=" + encodeURIComponent(this.AddDate)
                    + "&userId=" + encodeURIComponent(this.currentUser.id)
                    + "&avatar=" + encodeURIComponent(this.AddAvatar)
                    + "&method=SaveAddProductForm";


                let UpdateHttp;
                if(window.XMLHttpRequest){
                    UpdateHttp=new XMLHttpRequest();
                }else{
                    UpdateHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                UpdateHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Front/SelfProduct");
                UpdateHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                UpdateHttp.send(requestBody);
                UpdateHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        let result = JSON.parse(event.target.responseText);
                        if(result.code==="200"){
                            this.LoadProduct();
                            alert(result.msg);
                        }else{
                            alert(result.msg);
                        }
                        this.CancelAddProductForm();
                    }
                }
            },
            CancelUpdateProductForm(){
                this.ShowUpdateProductForm();
                this.UpdateDescription=this.FocusProduct?.description||"";
                // this.UpdatePrice=this.FocusProduct?.price||1;
                this.UpdateStock=this.FocusProduct?.stock||1;
                this.UpdateCategory=this.FocusProduct?.category||"文具";
                this.UpdateAvatar=this.FocusProduct?.avatar||"";
            },
            SaveUpdateProductForm(){
                const descriptionRegex = /^[^\s]{1,100}$/;
                // const priceRegex = /^(1000(\.00?)?|[1-9]?[0-9]?[0-9](\.[0-9]{1,2})?)$/;
                const stockRegex = /^(100|[1-9]?[0-9])$/;


                this.UpdateDescription=this.UpdateDescription.trim();
                if(this.UpdateDescription==null||this.UpdateDescription===""){
                    alert("请填满必填信息");
                    this.CancelUpdateProductForm();
                    return;
                }else if(!descriptionRegex.test(this.UpdateDescription)||!stockRegex.test(this.UpdateStock)){
                    alert("填入信息不符合规范");
                    this.CancelUpdateProductForm();
                    return;
                }



                let requestBody;

                requestBody = "description=" + encodeURIComponent(this.UpdateDescription)
                    + "&username=" + encodeURIComponent(this.currentUser.username)
                    + "&stock=" + encodeURIComponent(this.UpdateStock)
                    + "&category=" + encodeURIComponent(this.UpdateCategory)
                    + "&avatar=" + encodeURIComponent(this.UpdateAvatar)
                    + "&id=" + encodeURIComponent(this.FocusProduct.id)
                    + "&method=SaveUpdateProductForm";


                let UpdateHttp;
                if(window.XMLHttpRequest){
                    UpdateHttp=new XMLHttpRequest();
                }else{
                    UpdateHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                UpdateHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Front/SelfProduct");
                UpdateHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                UpdateHttp.send(requestBody);
                UpdateHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        let result = JSON.parse(event.target.responseText);
                        if(result.code==="200"){
                            this.LoadProduct();
                            alert(result.msg);
                            this.FocusProduct.description=this.UpdateDescription;
                            // this.FocusProduct.price=this.UpdatePrice;
                            this.FocusProduct.stock=this.UpdateStock;
                            this.FocusProduct.category=this.UpdateCategory;
                            this.FocusProduct.avatar=this.UpdateAvatar;
                            this.ShowUpdateProductForm();
                        }else{
                            alert(result.msg);
                            this.CancelUpdateProductForm();
                        }

                    }
                }




            },

            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            console.log("用户：", this.currentUser);
                            this.LoadProduct();
                        }
                    }
                }
            },
            LoadProduct(){
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Front/SelfProduct");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                let requestBody = "method=loadProduct"
                    + "&userId=" + encodeURIComponent(this.currentUser.id);

                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        let result = JSON.parse(event.target.responseText);
                        if (result.code === "200") {
                            this.ProductTable = result.data;
                        }
                    }
                }
            },
            FocusOnDeal(somebody){


                this.FocusDeal=somebody;

                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Front/SelfProduct");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                let requestBody = "method=FocusOnDeal"
                    +"&dealId=" + encodeURIComponent(somebody.id);
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        let result = JSON.parse(event.target.responseText);
                        if (result.code === "200") {
                            this.CommentTable = result.data;
                            console.log("评论"+this.CommentTable);
                            if(this.CommentTable.length === 0)
                                this.CommentTable=null;
                        } else {
                            this.CommentTable=null;
                        }
                    }
                }


            },
            FocusOnProduct(somebody){
                this.FocusProduct=somebody;
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Front/SelfProduct");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                let requestBody = "method=FocusOnProduct"
                    +"&productId=" + encodeURIComponent(somebody.id);
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        let result = JSON.parse(event.target.responseText);
                        if (result.code === "200") {
                            this.DealTable = result.data;
                            if(this.DealTable.length === 0)
                                this.DealTable=null;
                        } else {
                            this.DealTable=null;
                        }
                        this.UpdateDescription=this.FocusProduct?.description||"";
                        this.UpdatePrice=this.FocusProduct?.price||1;
                        this.UpdateStock=this.FocusProduct?.stock||1;
                        this.UpdateCategory=this.FocusProduct?.category||"文具";
                        this.UpdateAvatar=this.FocusProduct?.avatar||"";
                    }
                }
            },

            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            },
            ShowUpdateProductForm(){
                this.UpdateProductForm=!this.UpdateProductForm;
            },
            ShowUpdateDealForm(){
                this.UpdateDealForm=!this.UpdateDealForm;
            },
            ShowAddProductForm(){
                this.AddProductForm=!this.AddProductForm;
            },


            setMinDate() {
                const now = new Date();
                // 加一天
                now.setDate(now.getDate() + 1);


                // 转换为本地日期时间格式（YYYY-MM-DDTHH:MM）
                this.minDate = now.toISOString().slice(0, 16);
            }

        }
    });
</script>
</body>
</html>