*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.form {
    width: 32%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:20px;
}
.form .formButton{
    display:block;
    border:none;
    background-color: lightgray;
    margin:10px auto;
    width:60%;
    height:40px;
    font-size:24px;
    border-radius:6px;
}
.form .formInputText input{
    display:block;
    border-radius:4px;
    width:80%;
    height:30px;
    padding-left:15px;
    background-color: rgba(203, 225, 232, 0.6);
    margin:15px auto;
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.Home{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.Home .header{
    display: block;
    width:100%;
    height:10%;
    background-color:steelblue;
    position:absolute;
    top:0;
}
.Home .header .ICON{
    display: block;
    color:lightblue;
    width: 20%;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    position:absolute;

}
.Home .header button{
    position: absolute;
    right:30px;
    top:18px;
    background-color: steelblue;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border:darkblue solid 2px;
    color:aliceblue;
}
.Home .header button:hover{
    color:black;
    background-color: aliceblue;
}
.Home .left{
    display: inline-block;
    height: 90%;
    width:20%;
    background-color: lightblue;
    padding-top:30px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: #00cfcf solid 10px;
    border-left: darkcyan solid 10px;
}
.Home .right{
    display: inline-block;
    height: 90%;
    width:80%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #a2b8cf;
}
.Home .left a{
    display: block;
    text-align: center;
    line-height: 40px;
    width:100%;
    margin:10px 0;
    height:40px;
    text-decoration: none;
    color:royalblue;
}
.Home .left a:hover{
    background-color:darkcyan;

}

.Home .right .updateButton{
    color:black;
    background-color: skyblue;
    border:black solid 2px;
    /*width: 100px;*/
    /*height:25px;*/
    /*border-radius: 4px;*/
}
.Home .right .updateButton:hover{
    color:steelblue;
    background-color: #a2b8cf;
    border:aliceblue solid 2px;
}
.Home .right .noneUpdateButton{
    display: block;
    color:grey;
    background-color: skyblue;
    border:gray solid 2px;
    /*width: 100px;*/
    /*height:25px;*/
    /*border-radius: 4px;*/
}

/*意图只能通过点击关闭按钮关闭表单，故设置无法点击表单外面的内容*/
.Home .HoldForm{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 20;
    background-color: rgba(70, 130, 180, 0.6);
}
.Home .form .inputText input{
    display:inline-block;
    border-radius:4px;
    width:70%;
    height:30px;
    padding-left:15px;
    background-color: rgba(203, 225, 232, 0.6);
    margin:8px auto;
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.Home .right .LeftList{
    display: inline-block;
    width:70%;
    height: 75%;
}
.Home .right .RightList{
    display:block;
    width:100%;
    text-align:center;
    padding:10px 0;
}
.Home .right .HeaderList{
    display: flex;justify-content: space-between;height:15%;width:98%;background-color: cornflowerblue
}


.Home .right table{
    display:block;
    width:100%;
    height: 100%;
    /*overflow: auto;*/
    /*overflow-x: hidden*/
}


.Home .right tbody {
    display: block;
    width: 100%;
    height: 84%;
    overflow: auto;
    overflow-x: hidden;
}

.Home .right tbody tr:hover{
    background-color: royalblue;
}
.Home .right tbody .NONE:hover{
    background-color: steelblue;
}

.Home .right tr {
    display: flex;
    justify-content: center;
align-items: center;
    width: 600px;
    height: 40px;
    margin: 10px 0;
    background-color: steelblue;
}
.Home .right .RightList tr{
    width: 215px;
}

.Home .right td {
    text-align: center;
    flex: 1;
    padding: 8px;
    border: 1px solid lightblue;
    overflow:hidden;
}

.Home .right tbody::-webkit-scrollbar {
    width: 20px; /* 设置滚动条的宽度 */
}
.Home .right tbody::-webkit-scrollbar-track {
    background: steelblue; /* 轨道背景颜色 */
}
.Home .right tbody::-webkit-scrollbar-thumb {
    background: darkblue; /* 滑块颜色 */
}
.Home .right tbody::-webkit-scrollbar-thumb:hover {
    background: lightblue ; /* 悬停时的颜色 */
}

.Home .right .RightList{
    padding-left: 20px;
    display: inline-block;
    width:28%;
    height: 70%;

    background-color: royalblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}