<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台-个人信息</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 个人信息</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="ManagerHome.html" style="border-right: darkcyan solid 5px"><strong>查看修改个人信息</strong></a>
        <a href="ManagerAdmin.html"><strong>所有管理员信息</strong></a>
        <a href="ManagerUser.html"><strong>所有用户信息</strong></a>
        <a href="ManagerProduct.html"><strong>所有商品信息</strong></a>
        <a href="ManagerDeal.html"><strong>所有订单信息</strong></a>
        <a href="ManagerComment.html"><strong>查看所有评论</strong></a>
        <!--        涉嫌侵犯隐私故不予制作这两个模块-->
        <!--        <a href="ManagerSession.html"><strong>查看所有私聊</strong></a>-->
        <!--        <a href="ManagerSentence.html"><strong>查看所有私聊消息</strong></a>-->
        <a href="ManagerLog.html"><strong>所有日志信息</strong></a>
        <a href="ManagerSystem.html"><strong>系统数据记录</strong></a>

    </div>
    <div class="right">
        <strong>欢迎进入后台，{{ currentUser ? currentUser.username : '您尚未登录' }}！</strong>
        <div style="margin-top:10px;margin-bottom: 10px">
            <!--            <p>用户名:{{currentUser.username ? currentUser.username : '无用户名'}}</p>-->
            <!--            <p>密码:{{currentUser.password ? currentUser.password : '无密码'}}</p>-->
            <p>账号: {{ currentUser?.username || '无账号' }}</p>
            <p>姓名:{{ currentUser?.name||'无姓名' }}</p>
            <p>电话:{{ currentUser?.phone||'无电话' }}</p>
            <p>邮箱:{{ currentUser?.email||'无邮箱' }}</p>
            <p>ID:{{ currentUser?.id||'无ID' }}</p>
            <p>角色:{{ currentUser?.role||'无角色' }}</p>
            <p></p>
        </div>
        <strong v-show="!currentUser">修改个人信息</strong><br>
        <button v-show="!currentUser" class="updateButton" @click="ShowForm"><strong>修改个人信息</strong></button>
        <strong v-show="!currentUser">未登录用户无法修改个人信息</strong><br>
        <button v-show="!currentUser"
                style="color:grey;background-color: skyblue;border:gray solid 2px">
            修改个人信息</button>
    </div>

    <div v-show="Form" class="HoldForm">
        <div class="form">
            <h2 style="display:block;width:100%;text-align:center;padding:10px 0;">修改个人信息</h2>

            <div class="inputText">
                <strong>（未制作上传头像版块）</strong>
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">昵称:</strong><input type="text" placeholder="请输入新昵称" v-model="Name">
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">旧密码:</strong><input type="password" placeholder="请输入旧密码" v-model="OriginalPassword">
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">新密码:</strong><input type="password" placeholder="请输入新密码" v-model="NewPassword">
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">邮箱:</strong><input type="text" placeholder="请输入新邮箱" v-model="Email">
            </div>
            <div class="inputText">
                <strong style="margin:0 8px">电话:</strong><input type="text" placeholder="请输入新电话" v-model="Phone">
            </div>
            <div>
                <button @click="ShowForm" class="formButton" style="background-color:darkorange;color: aliceblue">取消</button>
            </div>
            <div>
                <button @click="Save" class="formButton" style="background-color: darkgreen;color:aliceblue">确认</button>
            </div>
        </div>
    </div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            Form:false,
            Name:"",
            OriginalPassword:"",
            NewPassword:"",
            Phone:"",
            Email:"",
            Avatar:""
        },
        mounted() {
            this.LoadAccount();
        },
        methods:{
            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            console.log("当前用户：", this.currentUser);

                        } else {

                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            ShowForm(){
                this.Form=!this.Form;
            },
            Save(){
                this.ShowForm();
            },

            logout(){

            }
        }
    });
</script>
</body>
</html>