<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台-所有商品</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 所有商品信息</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="ManagerHome.html"><strong>查看修改个人信息</strong></a>
        <a href="ManagerUser.html"><strong>所有用户信息</strong></a>
        <a href="ManagerProduct.html" style="border-right: darkcyan solid 5px"><strong>所有商品信息</strong></a>
        <a href="ManagerReport.html"><strong>所有举报信息</strong></a>
        <a href="ManagerLog.html"><strong>所有日志信息</strong></a>
        <a href="ManagerSystem.html"><strong>系统数据记录</strong></a>

    </div>
    <div class="right">

        <div class="HeaderList"
             style="display: flex;justify-content: space-between;height:15%;width:98%;background-color: cornflowerblue">
            <div>
                <p style="font-size: 12px"><strong>正在焦点的用户</strong>：{{FocusUser? FocusUser.id:"无焦点"}}</p>
            </div>
            <div style="height:100%;width:30%;background-color: blueviolet;border:black 3px solid">
                <div style="display: flex;height:20%;width:100%;justify-content: center;">
                    <h3>商品封禁</h3>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;height:80%;width:100%;">
                    <button v-if="FocusProduct&&FocusProduct.publishStatus==='已发布'" class="updateButton" @click="ChangeProductStatus(1)"><strong>封禁商品</strong></button>
                    <button v-else class="noneUpdateButton">封禁商品</button>
                    <button v-if="FocusProduct&&FocusProduct.publishStatus==='被封禁'" class="updateButton" @click="ChangeProductStatus(2)"><strong>解封商品</strong></button>
                    <button v-else class="noneUpdateButton">解封商品</button>
                </div>
            </div>
        </div>

        <div class="LeftList" style="display: inline-block;width:70%;height: 80%">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>ID</strong></td>
                    <td><strong>名称</strong></td>
                    <td><strong>分类</strong></td>
                    <td><strong>介绍</strong></td>
                    <td><strong>价格</strong></td>
                    <td><strong>库存</strong></td>
                    <td><strong>总评分</strong></td>
                    <td><strong>流量</strong></td>
                    <td><strong>状态</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!ProductTable" class="NONE">
                    <td><strong>无数据!</strong></td>
                </tr>
                <tr v-for="product in ProductTable" :key="product.id" @click="FocusOnProduct(product)">
                    <td>{{ product?.id||'无ID数据'}}</td>
                    <td>{{ product?.name||'无名称数据'}}</td>
                    <td>{{ product?.category || '无分类数据' }}</td>
                    <td>{{ product?.description || '无商品介绍数据' }}</td>
                    <td>{{ product?.price ?? '无价格数据' }}</td>
                    <td>{{ product?.stock ?? '无库存数据' }}</td>
                    <td>{{ product?.score ?? '无总评分数据' }}</td>
                    <td>{{ product?.popularity ?? '无流量数据' }}</td>
                    <td>{{ product?.publishStatus || '无商品状态数据' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="RightList">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>订单ID</strong></td>
                    <td><strong>数量</strong></td>
                    <td><strong>状态</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!DealTable" class="NONE">
                    <td color="black"><strong>{{ FocusProduct ? "没有订单" : '无订单数据！' }}</strong></td>
                </tr>
                <tr v-for="deal in DealTable" :key="deal.id" @click="FocusOnDeal(deal)">
                    <td>{{ deal?.id||'无ID' }}</td>
                    <td>{{ deal?.productNum||'无数量' }}</td>
                    <td>{{ deal?.dealStatus||'无状态' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            ProductTable:null,
            DealTable:null,
            FocusProduct:null,
            FocusDeal:null,
            FocusBuyer:null,
        },
        mounted() {
            this.LoadAccount();
        },
        methods:{
            ChangeProductStatus(num){
                let status;
                if(num===1){
                    status="被封禁";
                }else{
                    status="已发布";
                }
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Product");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="status=" + encodeURIComponent(status)
                    + "&id=" + encodeURIComponent(this.FocusProduct.id)
                    + "&method=ChangeProductStatus";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedUser=JSON.parse(event.target.responseText);
                        if (storedUser.code==="200") {
                            this.LoadProduct();
                            this.FocusProduct=null;
                        }
                        alert(storedUser.msg);

                    }
                }
            },
            FocusOnProduct(somebody){
                this.FocusProduct=somebody;
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Product");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="productId=" + encodeURIComponent(this.FocusProduct.id)
                    + "&method=FocusOnProduct";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedDeal=JSON.parse(event.target.responseText);
                        if (storedDeal) {
                            this.DealTable=storedDeal.data;
                        }
                    }
                }

            },
            LoadProduct(){
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Product");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=LoadProduct";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedProduct=JSON.parse(event.target.responseText);
                        if (storedProduct) {
                            this.ProductTable=storedProduct.data;
                        }
                    }
                }
            },
            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            this.LoadProduct();

                        } else {

                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            }
        }
    });
</script>
</body>
</html>