<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台-个人信息</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 个人信息</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="ManagerHome.html"><strong>查看修改个人信息</strong></a>
        <a href="ManagerUser.html"><strong>所有用户信息</strong></a>
        <a href="ManagerProduct.html"><strong>所有商品信息</strong></a>
        <a href="ManagerReport.html" style="border-right: darkcyan solid 5px"><strong>所有举报信息</strong></a>
        <a href="ManagerLog.html"><strong>所有日志信息</strong></a>
        <a href="ManagerSystem.html"><strong>系统数据记录</strong></a>
    </div>
    <div class="right">


        <div class="HeaderList"
             style="display: flex;justify-content: space-between;height:15%;width:98%;background-color: cornflowerblue">
            <div>
                <p style="font-size: 12px"><strong>正在焦点的举报</strong>：{{FocusReport? FocusReport.id:"无焦点"}}</p>
            </div>
            <div>
                <strong>对该举报进行处理</strong><br>
                <button v-if="FocusReport" class="updateButton"><strong>批准</strong></button>
                <button v-else class="noneUpdateButton">批准</button>
                <button v-if="FocusReport" class="updateButton"><strong>反对</strong></button>
                <button v-else class="noneUpdateButton">反对</button>
            </div>
            <div>
                <strong>查看这个举报</strong><br>
                <button v-if="FocusReport" class="updateButton"><strong>查看</strong></button>
                <button v-else class="noneUpdateButton">查看</button>
            </div>
        </div>

        <div class="LeftList" style="display: inline-block;width:70%;height: 80%">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>ID</strong></td>
                    <td><strong>举报时间</strong></td>
                    <td><strong>举报结果</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!ReportTable" class="NONE">
                    <td><strong>无数据!</strong></td>
                </tr>
                <tr v-for="report in ReportTable" :key="report.id" @click="FocusOnRePort(report)">
                    <td>{{ report?.id||'无ID数据'}}</td>
                    <td>{{ report?.reportTime||'无时间数据'}}</td>
                    <td>{{ report?.result||'无结果数据'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            ReportTable:null,
            FocusReport:null,
            FocusCounterPart:null,
        },
        mounted() {
            this.LoadAccount();
        },
        methods:{
            FocusOnRePort(somebody){
              this.FocusReport=somebody;
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Report");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="reportType=" + encodeURIComponent(this.FocusReport.reportType)
                    +"&pointerId=" + encodeURIComponent(this.FocusReport.pointerId)
                    +"&method=FocusOnRePort";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedReport=JSON.parse(event.target.responseText);
                        if (storedReport) {
                            this.FocusCounterPart=storedReport.data;
                        }
                    }
                }
            },
            LoadReport(){
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Report");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=LoadReport";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedReport=JSON.parse(event.target.responseText);
                        if (storedReport) {
                            this.ReportTable=storedReport.data;
                        }
                    }
                }
            },
            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            this.LoadReport();
                        } else {
                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            }
        }
    });
</script>
</body>
</html>