<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台-系统数据</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 系统数据记录</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="ManagerHome.html"><strong>查看修改个人信息</strong></a>
        <a href="ManagerUser.html"><strong>所有用户信息</strong></a>
        <a href="ManagerProduct.html"><strong>所有商品信息</strong></a>
        <a href="ManagerReport.html"><strong>所有举报信息</strong></a>
        <a href="ManagerLog.html"><strong>所有日志信息</strong></a>
        <a href="ManagerSystem.html" style="border-right: darkcyan solid 5px"><strong>系统数据记录</strong></a>

    </div>
    <div class="right">

        <h3>系统数据:</h3>
        <strong style="color:red" v-if="currentUser&&currentUser.role!=='ADMIN'">你不是管理者!你没有操控后台的权限</strong>
        <div style="margin-top:10px;margin-bottom: 10px">
            <p><strong>管理员数量:</strong> {{ SystemInfo?.adminNum ?? '无管理员数据' }}</p>
            <p><strong>普通用户数量:</strong> {{ SystemInfo?.userNum ?? '无普通用户数据' }}</p>
            <p><strong>商品数量: </strong>{{ SystemInfo?.productNum ?? '无商品数据' }}</p>
            <p><strong>订单数量:</strong> {{ SystemInfo?.dealNum ?? '无订单数据' }}</p>
            <p><strong>评论数量:</strong> {{ SystemInfo?.commentNum ?? '无数量数据' }}</p>
            <p><strong>举报数量:</strong> {{ SystemInfo?.reportNum ?? '无举报数据' }}</p>
            <p><strong>会话数量:</strong> {{ SystemInfo?.sessionNum ?? '无会话数据' }}</p>
            <br>
            <strong style="color:green">网站流动资金(万元):{{ SystemInfo?.totalMoney ?? '无流动资金数据' }}</strong>
        </div>


    </div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            SystemInfo:null,
        },
        mounted() {
            this.LoadAccount();
        },
        methods:{
            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            this.LoadSystem();

                        } else {

                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            LoadSystem(){
                if(this.currentUser==null||this.currentUser.role!=="ADMIN"){
                    alert("你没有账号凭证");
                    return;
                }

                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=LoadSystem";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedSystemInfo=JSON.parse(event.target.responseText);

                        if (storedSystemInfo) {
                            this.SystemInfo = storedSystemInfo.data;

                        } else {

                            console.log("未找到系统数据");
                        }


                    }
                }
            },
            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            }
        }
    });
</script>
</body>
</html>