<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台-个人信息</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 个人信息</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="ManagerHome.html"><strong>查看修改个人信息</strong></a>
        <a href="ManagerUser.html"><strong>所有用户信息</strong></a>
        <a href="ManagerProduct.html"><strong>所有商品信息</strong></a>
        <a href="ManagerReport.html" style="border-right: darkcyan solid 5px"><strong>所有举报信息</strong></a>
        <a href="ManagerLog.html"><strong>所有日志信息</strong></a>
        <a href="ManagerSystem.html"><strong>系统数据记录</strong></a>
    </div>
    <div class="right">


        <div class="HeaderList"
             style="display: flex;justify-content: space-between;height:15%;width:98%;background-color: cornflowerblue">
            <div>
                <p style="font-size: 12px"><strong>正在焦点的举报</strong>：{{FocusReport? FocusReport.id:"无焦点"}}</p>
            </div>
            <div>
                <strong>对该举报进行处理</strong><br>
                <button v-if="FocusReport&&FocusReport.result==='待处理'" @click="DealWithReport(1)" class="updateButton"><strong>批准</strong></button>
                <button v-else class="noneUpdateButton">批准</button>
                <button v-if="FocusReport&&FocusReport.result==='待处理'" @click="DealWithReport(2)" class="updateButton"><strong>反对</strong></button>
                <button v-else class="noneUpdateButton">反对</button>
            </div>
            <div>
                <strong>查看这个举报</strong><br>
                <button v-if="FocusReport" class="updateButton" @click="RePortForm=!RePortForm"><strong>查看</strong></button>
                <button v-else class="noneUpdateButton">查看</button>
            </div>
        </div>

        <div class="LeftList" style="display: inline-block;width:70%;height: 80%">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>ID</strong></td>
                    <td><strong>举报时间</strong></td>
                    <td><strong>举报结果</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!ReportTable" class="NONE">
                    <td><strong>无数据!</strong></td>
                </tr>
                <tr v-for="report in ReportTable" :key="report.id" @click="FocusOnRePort(report)">
                    <td>{{ report?.id||'无ID数据'}}</td>
                    <td>{{ report?.reportTime||'无时间数据'}}</td>
                    <td>{{ report?.result||'无结果数据'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div v-show="RePortForm" class="HoldForm">
        <div class="form">
            <h2 style="display:block;width:100%;text-align:center;padding:10px 0;">举报内容</h2>

            <strong>关于举报</strong>
            <p>ID:{{FocusReport?.id||"无ID数据"}}</p>
            <p>举报时间:{{FocusReport?.reportTime||"无时间数据"}}</p>
            <p>举报结果:{{FocusReport?.result||"无结果数据"}}</p>
            <div v-if="FocusReport&&FocusReport.reportType==='用户'">
                <strong>关于用户</strong>
                <img style="width: 100px;height: 70px" :src="(currentUser&&currentUser.avatar!=null&&currentUser.avatar!=='')? '../../../file/'+currentUser.avatar : '../../asset/img/Avatar.png' " alt="">
                <p>ID:{{FocusCounterPart?.id||"无ID数据"}}</p>
                <p>账号:{{FocusCounterPart?.username||"无账号数据"}}</p>
                <p>昵称:{{FocusCounterPart?.name||"无昵称数据"}}</p>
                <p>邮箱:{{FocusCounterPart?.email||"无邮箱数据"}}</p>
                <p>电话:{{FocusCounterPart?.phone||"无电话数据"}}</p>
                <p>总名誉:{{FocusCounterPart?.reputation??"无总名誉数据"}}</p>
                <p>流量:{{FocusCounterPart?.popularity??"无流量数据"}}</p>
                <p>用户状态:{{FocusCounterPart?.status||"无状态数据"}}</p>
            </div>
            <div v-else-if="FocusReport&&FocusReport.reportType==='商品'">
                <strong>关于商品</strong>
                <p>ID:{{FocusCounterPart?.id||"无ID数据"}}</p>
                <p>名称:{{FocusCounterPart?.name||"无名称数据"}}</p>
                <p>描述:{{FocusCounterPart?.description||"无描述数据"}}</p>
                <p>价格:{{FocusCounterPart?.price??"无价格数据"}}</p>
                <p>库存:{{FocusCounterPart?.stock??"无库存数据"}}</p>
                <p>分类:{{FocusCounterPart?.category||"无分类数据"}}</p>
                <p>发布时间:{{FocusCounterPart?.publishTime||"无发布时间数据"}}</p>
                <p>发布状态:{{FocusCounterPart?.publishStatus||"无发布状态数据"}}</p>
                <p>总评分:{{FocusCounterPart?.score??"无总评分数据"}}</p>
                <p>流量:{{FocusCounterPart?.popularity??"无流量数据"}}</p>
            </div>

            <div>
                <button @click="RePortForm=!RePortForm" class="formButton" style="background-color: darkgreen;color:aliceblue">关闭</button>
            </div>
        </div>
    </div>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            ReportTable:null,
            FocusReport:null,
            FocusCounterPart:null,
            RePortForm:false,
        },
        mounted() {
            this.LoadAccount();
        },
        methods:{
            DealWithReport(num){
              let result;
              if(num===1){
                  result="批准";
              }else{
                  result="反对";
              }

                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Report");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="result=" + encodeURIComponent(result)
                    +"&id=" + encodeURIComponent(this.FocusReport.id)
                    +"&method=DealWithReport";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedReport=JSON.parse(event.target.responseText);
                        if (storedReport.code!=="200") {
                            alert(storedReport.msg);
                        }
                        this.FocusReport=null;
                        this.LoadReport();
                    }
                }

            },
            FocusOnRePort(somebody){
              this.FocusReport=somebody;
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Report");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="reportType=" + encodeURIComponent(this.FocusReport.reportType)
                    +"&pointerId=" + encodeURIComponent(this.FocusReport.pointerId)
                    +"&method=FocusOnRePort";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedReport=JSON.parse(event.target.responseText);
                        if (storedReport) {
                            this.FocusCounterPart=storedReport.data;
                        }
                    }
                }
            },
            LoadReport(){
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Report");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=LoadReport";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedReport=JSON.parse(event.target.responseText);
                        if (storedReport) {
                            this.ReportTable=storedReport.data;
                        }
                    }
                }
            },
            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            this.LoadReport();
                        } else {
                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            }
        }
    });
</script>
</body>
</html>