<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台-所有用户</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 所有用户信息</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="ManagerHome.html"><strong>查看修改个人信息</strong></a>
        <a href="ManagerUser.html" style="border-right: darkcyan solid 5px"><strong>所有用户信息</strong></a>
        <a href="ManagerProduct.html"><strong>所有商品信息</strong></a>
        <a href="ManagerReport.html"><strong>所有举报信息</strong></a>
        <a href="ManagerLog.html"><strong>所有日志信息</strong></a>
        <a href="ManagerSystem.html"><strong>系统数据记录</strong></a>

    </div>
    <div class="right">

        <div class="HeaderList"
             style="display: flex;justify-content: space-between;height:15%;width:98%;background-color: cornflowerblue">
            <div>
                <p style="font-size: 12px"><strong>正在焦点的用户</strong>：{{FocusUser? FocusUser.id:"无焦点"}}</p>
            </div>
            <div style="height:100%;width:30%;background-color: blueviolet;border:black 3px solid">
                <div style="display: flex;height:20%;width:100%;justify-content: center;">
                    <h3>用户封禁</h3>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;height:80%;width:100%;">
                    <button v-if="FocusUser&&FocusUser.status==='正常'" class="updateButton" @click="ChangeUserStatus(1)"><strong>封禁用户</strong></button>
                    <button v-else class="noneUpdateButton">封禁用户</button>
                    <button v-if="FocusUser&&FocusUser.status==='被封禁'" class="updateButton" @click="ChangeUserStatus(2)"><strong>解封用户</strong></button>
                    <button v-else class="noneUpdateButton">解封用户</button>
                </div>
            </div>
        </div>


        <div class="LeftList" style="display: inline-block;width:70%;height: 80%">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>ID</strong></td>
                    <td><strong>头像</strong></td>
                    <td><strong>账号</strong></td>
                    <td><strong>昵称</strong></td>
                    <td><strong>邮箱</strong></td>
                    <td><strong>电话</strong></td>
                    <td><strong>信誉</strong></td>
                    <td><strong>流量</strong></td>
                    <td><strong>状态</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!userTable" class="NONE">
                    <td><strong>无数据!</strong></td>
                </tr>
                <tr v-for="user in userTable" :key="user.id" @click="FocusUser=user">
                    <td>{{ user?.id||'无ID数据'}}</td>
                    <td><img style="width: 100%;height: 100%" :src="(currentUser&&currentUser.avatar!=null&&currentUser.avatar!=='')? '../../../file/'+currentUser.avatar : '../../asset/img/Avatar.png' " alt=""></td>
                    <td>{{ user?.username||'无账号数据'}}</td>
                    <td>{{ user?.name||'无昵称数据'}}</td>
                    <td>{{ user?.email||'无邮箱数据'}}</td>
                    <td>{{ user?.phone||'无电话数据'}}</td>
                    <td>{{ user?.reputation??'无名誉数据'}}</td>
                    <td>{{ user?.popularity??'无流量数据'}}</td>
                    <td>{{ user?.status||'无状态数据'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            userTable:null,
            FocusUser:null,
        },
        mounted() {
            this.LoadAccount();
        },
        methods:{
            ChangeUserStatus(num){
                let status;
                if(num===1){
                    status="被封禁";
                }else{
                    status="正常";
                }
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/User");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="status=" + encodeURIComponent(status)
                    + "&id=" + encodeURIComponent(this.FocusUser.id)
                    + "&method=ChangeUserStatus";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedUser=JSON.parse(event.target.responseText);
                        if (storedUser.code==="200") {
                            this.LoadUser();
                            this.FocusUser=null;
                        }
                            alert(storedUser.msg);

                    }
                }
            },
            LoadUser(){
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/User");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=LoadUser";
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedUser=JSON.parse(event.target.responseText);
                        if (storedUser) {
                            this.userTable = storedUser.data;
                        } else {
                            console.log("未找到用户数据");
                        }
                    }
                }
            },
            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            this.LoadUser();
                            console.log("当前用户：", this.currentUser);

                        } else {

                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            }
        }
    });
</script>
</body>
</html>