<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台-所有日志</title>
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../asset/css/global.css">
</head>
<body>
<div id="app" class="Home">
    <div class="header">

        <a href="#" class="ICON">
            <img src="../../asset/img/ICON.png" alt="二手市场" style="position:absolute;bottom:22px">
            <strong style="position:absolute;left:60px;bottom:20px">二手市场</strong>
        </a>

        <h2 style="position: absolute;left:250px;top:14px;color:whitesmoke">后台 > 所有日志信息</h2>

        <button @click="logout"><strong>{{ currentUser? '退出登录':'进入登录' }}</strong></button>

    </div>

    <div class="left">
        <a href="ManagerHome.html"><strong>查看修改个人信息</strong></a>
        <a href="ManagerUser.html"><strong>所有用户信息</strong></a>
        <a href="ManagerProduct.html"><strong>所有商品信息</strong></a>
        <a href="ManagerLog.html" style="border-right: darkcyan solid 5px"><strong>所有日志信息</strong></a>
        <a href="ManagerSystem.html"><strong>系统数据记录</strong></a>

    </div>
    <div class="right">


        <div class="HeaderList"
             style="display: flex;justify-content: space-between;height:15%;width:98%;background-color: cornflowerblue">
            <div>
                <br>
                <strong>对日志关键字搜索:</strong>
                <input type="text" v-model="selectWord">
                <button class="updateButton" @click="SearchLog">搜索</button>
            </div>

        </div>

        <div class="LeftList" style="display: inline-block;width:70%;height: 80%">
            <table>
                <thead style="display:block;width:100%;height: 10%">
                <tr style="background-color: cadetblue">
                    <td><strong>ID</strong></td>
                    <td><strong>操作者</strong></td>
                    <td><strong>操作类型</strong></td>
                    <td><strong>操作内容</strong></td>
                    <td><strong>操作IP</strong></td>
                    <td><strong>操作时间</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!LogTable" class="NONE">
                    <td><strong>无数据!</strong></td>
                </tr>
                <tr v-for="log in LogTable" :key="log.id">
                    <td>{{ log?.operateUsername||'无ID数据'}}</td>
                    <td>{{ log?.operateContent||'无操作者数据'}}</td>
                    <td>{{ log?.operateType||'无操作种类数据'}}</td>
                    <td>{{ log?.operateContent||'无操作内容数据'}}</td>
                    <td>{{ log?.ip||'无IP数据'}}</td>
                    <td>{{ log?.operateTime||'无操作时间数据'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            currentUser: null,
            LogTable:null,
            selectWord:"",
        },
        mounted() {
            this.LoadAccount();
        },
        methods:{
            LoadAccount(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=loadAccount";
                LoginHttp.send(requestBody);
                LoginHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {

                        const storedUser=JSON.parse(event.target.responseText);

                        if (storedUser) {
                            this.currentUser = storedUser.data;
                            this.LoadLog();

                        } else {

                            console.log("未找到用户数据");
                        }


                    }
                }
            },
            SearchLog(){
                this.LoadLog();
                this.selectWord="";
            },
            LoadLog(){
                let LoadHttp;
                if(window.XMLHttpRequest){
                    LoadHttp=new XMLHttpRequest();

                }else{
                    LoadHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoadHttp.open("POST","http://localhost:8080/QGfinalDemo_war/Manager/Log");
                LoadHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=LoadLog"
                    + "&selectWord=" + encodeURIComponent(this.selectWord);
                LoadHttp.send(requestBody);
                LoadHttp.onreadystatechange = (event) => { // 使用箭头函数确保 this 指向 Vue 实例
                    if (event.target.readyState === 4 && event.target.status === 200) {
                        const storedLog=JSON.parse(event.target.responseText);
                        if (storedLog) {
                            this.LogTable = storedLog.data;
                            console.log(this.LogTable);
                        } else {
                            console.log("未找到日志数据");
                        }
                    }
                }
            },
            logout(){
                let LoginHttp;
                if(window.XMLHttpRequest){
                    LoginHttp=new XMLHttpRequest();

                }else{
                    LoginHttp =new ActiveXObject("Microsoft.XMLHTTP");
                }
                LoginHttp.open("POST","http://localhost:8080/QGfinalDemo_war/WebsServlet");
                LoginHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

                let requestBody ="&method=logout";
                LoginHttp.send(requestBody);
                window.location.href = "../login.html";
            }
        }
    });
</script>
</body>
</html>